<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>日記を読む</title>
</head>
<body>
  <h1>日記を読む</h1>
  <h2>日記一覧</h2>
  <ul>
  {% for diary in diary_list %}
      <p>{{ diary.title }}</p>
      <p>{{ diary.content }}

      <form method="post" action="{{ url_for('delete_diary', diary_id=diary.id) }}">
                <button type="submit" class="delete-button">削除</button>
      </form>

      <form method="get" action="{{ url_for('update_diary', diary_id=diary.id) }}">
              <button type="submit" class="update-button">更新</button>
      </form>
  {% endfor %}
  </ul>
  <a href="{{ url_for('index') }}">トップへ戻る</a>
</body>
</html>
